doctype html

html
    head
    body
        header
            h1 This HTML file was genereated by Pug template engine
            h3 Pug:
        main
            p.
                Pug is an html template engine that makes writing html a lot more easier and fun. It integrates well with Node.js and Express framework.
                Writing html in pug is all about proper indentation and nesting. Mess it up & your html will look funny and not be structured as expected.