<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <header>
      <h1>This HTML file was genereated by Pug template engine</h1>
      <h3>Pug:</h3>
    </header>
    <main>
      <p>
        Pug is an html template engine that makes writing html a lot more easier and fun. It integrates well with Node.js and Express framework.
        Writing html in pug is all about proper indentation and nesting. Mess it up & your html will look funny and not be structured as expected.
        
      </p>
      <p>This is an unordered list generated in pug</p>
      <ul>
        <li>Potato</li>
        <li>Beetroot</li>
        <li>Carrot</li>
      </ul>
      <h4 id="header-4">This is an h4 with id#header-4</h4>
      <p class="small-paragraph">This is a paragraph with class name "small-paragraph"</p>
      <div class="empty-div"></div>
      <div id="my-empty-div"></div>
      <p class="small-paragraph" id="foo">This paragraph has both class and id associated with it.</p>
    </main>
  </body>
</html>